:root {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  --onBackground: white;
  --primary: coral;
  --onPrimary: black;
  --accentPrimary: #fda585;
  --buttonGood: forestgreen;
  --buttonBad: darkred;
  --table: black;
  --tableEven: #333;
  --overlayBackground: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
}
