.ProductsView {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.ProductsView .table {
  border: 1px solid var(--primary);
  border-radius: var(--headerRadius);
  overflow: hidden;
}

.ProductsView .table .header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
}

.ProductsView .table .header img.icon {
  width: 1.75rem;
}

.ProductsView .table .header h2 {
  margin: 0;
}

.ProductsView .table .add-bar {
  background-color: var(--accentPrimary);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductsView .table .add-bar label {
  display: flex;
  flex-direction: column;
}

.ProductsView .table .add-bar input {
  padding: 0.2rem 0.2rem;
  border-radius: var(--inputRadius);
  border: 1px solid var(--onPrimary);
  outline: none;
}

.ProductsView .table .add-bar input.input-small {
  width: 4rem;
}

.ProductsView .table table {
  border-collapse: collapse;
  width: 100%;
}

.ProductsView .table thead {
  background-color: var(--primary);
  text-align: left;
}

.ProductsView .table thead th {
  padding: 0.5rem 1rem;
}

.ProductsView .table tbody tr {
  background-color: var(--table);
}

.ProductsView .table tbody tr:nth-child(even) {
  background-color: var(--tableEven);
}

.ProductsView .table tbody td {
  padding: 0.25rem 0.5rem;
}

.ProductsView .table tbody td:nth-child(2) input {
  width: 4rem;
  padding: 0.25rem 0.5rem;
}

.ProductsView .table tbody td:nth-child(3) input {
  width: 4rem;
  padding: 0.25rem 0.5rem;
}
