.RecipesView {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.RecipesView .table {
  border: 1px solid var(--primary);
  border-radius: var(--headerRadius);
  overflow: hidden;
}

.RecipesView .table .header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
}

.RecipesView .table .header img.icon {
  width: 1.75rem;
}

.RecipesView .table .header h2 {
  margin: 0;
}

.RecipesView .table .add-bar {
  background-color: var(--accentPrimary);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RecipesView .table .add-bar input {
  margin-left: 0.25rem;
  padding: 0.2rem 0.2rem;
  border-radius: var(--inputRadius);
  border: 1px solid var(--onPrimary);
  outline: none;
}
