.WeekProducts {
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  overflow: hidden;
}

.WeekProducts .header {
  background-color: var(--primary);
  padding: 0.25rem;
}

.WeekProducts .header h3 {
  text-align: center;
  margin: 0;
}

.WeekProducts .results-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.WeekProducts .result-container {
  display: flex;
  justify-content: space-between;
  color: var(--onBackground);
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  background-color: var(--table);
}

.WeekProducts .result-container:nth-child(even) {
  background-color: var(--tableEven);
}

.WeekProducts .result-container p {
  margin: 0;
}

/* print */
/* @media print { */
.WeekProducts {
  margin-top: 1rem;
  border: none;
  border-radius: 0;
}

.WeekProducts .header {
  background-color: #aaa;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.WeekProducts .header h3 {
  font-size: 1rem;
}

.WeekProducts .header h3 span {
  /* display: none; */
}

.WeekProducts .results-container {
  /* display: flex;
  flex-direction: column; */
  border-bottom: 1px solid var(--onBackground);
  border-left: 1px solid var(--onBackground);
  border-right: 1px solid var(--onBackground);
}

.WeekProducts .result-container {
  padding: 0.25rem;
  padding-right: 1.5rem;
  font-size: 0.75rem;
}

.WeekProducts .result-container p:first-child {
  margin-right: 1rem;
}

.WeekProducts .result-container p:last-child {
  text-align: end;
}
/* } */
